/* line 41, ../compass/sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  background: #f1f5f7;
  font-family: "Helvetica Neue";
  min-width: 1050px;
  font-size: 10px;
}

/* line 50, ../compass/sass/style.scss */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 56, ../compass/sass/style.scss */
.central {
  position: relative;
  width: 1050px;
  min-height: 20px;
  overflow: hidden;
  margin: 0 auto;
  float: none;
  clear: both;
}

/* line 67, ../compass/sass/style.scss */
header {
  position: relative;
  width: 100%;
  min-height: 75px;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid #ececec;
}
/* line 76, ../compass/sass/style.scss */
header ul {
  position: relative;
  float: left;
  min-height: 24px;
  margin-top: 25px;
}
/* line 82, ../compass/sass/style.scss */
header ul li {
  display: block;
  position: relative;
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 13px;
  padding-right: 13px;
  line-height: 24px;
  border-right: 1px solid #ececec;
}
/* line 94, ../compass/sass/style.scss */
header ul li a {
  text-decoration: none;
  color: #4d7a98;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 100, ../compass/sass/style.scss */
header ul li a .fa {
  font-size: 18px;
  margin-right: 2px;
  line-height: 24px;
}
/* line 107, ../compass/sass/style.scss */
header ul li a:hover {
  color: #35393c;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 117, ../compass/sass/style.scss */
header div.inputs {
  position: relative;
  float: right;
}
/* line 121, ../compass/sass/style.scss */
header div.inputs input[type="submit"] {
  display: block;
  float: left;
  background: #ee0f6c;
  color: white;
  font-size: 24px;
  border: none;
  height: 36px;
  top: 0px;
  vertical-align: middle;
  padding: 0 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 1px 1px 0px #ad0a4e;
  border-bottom: 2px solid #b0074d;
  margin-top: 18px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 140, ../compass/sass/style.scss */
header div.inputs input[type="submit"]:hover {
  background: #1ca8ed;
  border-bottom: 2px solid #0b79af;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 147, ../compass/sass/style.scss */
header div.inputs input[type="text"] {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  border: 2px solid #e3ebef;
  color: #28384b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 34px;
  line-height: 34px;
  margin-top: 18px;
  text-indent: 8px;
  margin-right: 7px;
  font-size: 14px;
}
/* line 35, ../compass/sass/style.scss */
header div.inputs input[type="text"]::-webkit-input-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}
/* line 36, ../compass/sass/style.scss */
header div.inputs input[type="text"]:-moz-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}
/* line 37, ../compass/sass/style.scss */
header div.inputs input[type="text"]::-moz-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}
/* line 38, ../compass/sass/style.scss */
header div.inputs input[type="text"]:-ms-input-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}

/* line 173, ../compass/sass/style.scss */
.breadcrumb {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  color: #4d7a98;
  min-height: 46px;
  overflow: hidden;
  float: none;
  clear: both;
}
/* line 183, ../compass/sass/style.scss */
.breadcrumb li {
  display: inline-block;
  line-height: 46px;
  padding-right: 9px;
}
/* line 188, ../compass/sass/style.scss */
.breadcrumb li a {
  color: #4d7a98;
  text-decoration: none;
  font-size: 14px;
  text-shadow: 1px 1px 0 rgba(250, 250, 250, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 197, ../compass/sass/style.scss */
.breadcrumb li a:hover {
  color: #284a60;
  text-shadow: 1px 1px 0 #fafafa;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 205, ../compass/sass/style.scss */
.breadcrumb li:last-child {
  font-weight: 700;
}

/* line 211, ../compass/sass/style.scss */
.filters {
  min-height: 64px;
  overflow: visible;
}
/* line 216, ../compass/sass/style.scss */
.filters h2 {
  height: 46px;
  float: left;
  background: #1ca8ed;
  color: white;
  line-height: 46px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 24px;
  font-weight: 700;
  padding: 0 20px;
  margin-top: 0;
}
/* line 229, ../compass/sass/style.scss */
.filters h2 span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 8px 0 8px;
  border-color: #1ca7ed transparent transparent transparent;
  margin-top: 46px;
  margin-left: 10px;
}
/* line 243, ../compass/sass/style.scss */
.filters .right_elements {
  position: relative;
  float: right;
  min-height: 64px;
  overflow: visible;
}
/* line 249, ../compass/sass/style.scss */
.filters .right_elements .social {
  position: relative;
  float: left;
  height: 36px;
  border: 1px solid #ececec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
/* line 257, ../compass/sass/style.scss */
.filters .right_elements .social li {
  display: block;
  position: relative;
  float: left;
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  border-right: 1px solid #ececec;
}
/* line 266, ../compass/sass/style.scss */
.filters .right_elements .social li a {
  display: block;
  position: relative;
  height: 36px;
  padding: 0 20px;
  background: white;
  line-height: 36px;
  border: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 277, ../compass/sass/style.scss */
.filters .right_elements .social li a span.fa-facebook {
  color: #4b65a3;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 282, ../compass/sass/style.scss */
.filters .right_elements .social li a span.fa-twitter {
  color: #31aae1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 287, ../compass/sass/style.scss */
.filters .right_elements .social li a span.fa-google-plus {
  color: #eb2c27;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 296, ../compass/sass/style.scss */
.filters .right_elements .social li a:hover {
  background: #4d7a98;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 302, ../compass/sass/style.scss */
.filters .right_elements .social li a:hover span {
  color: white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 314, ../compass/sass/style.scss */
.filters .right_elements .social li:last-child {
  border: none;
}
/* line 319, ../compass/sass/style.scss */
.filters .right_elements .wrapper {
  position: relative;
  float: left;
  height: 36px;
  width: 210px;
  margin-right: 10px;
  border: 1px solid #ececec;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 329, ../compass/sass/style.scss */
.filters .right_elements .wrapper .fa {
  display: block;
  position: relative;
  float: left;
  width: 30px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
/* line 343, ../compass/sass/style.scss */
.filters .right_elements .wrapper .fa:hover {
  color: #1ca8ed;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 349, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul {
  position: relative;
  float: left;
  height: 36px;
  width: 180px;
  margin-right: 0px;
  overflow: hidden;
  border-bottom: 1px solid #ececec;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 360, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul li {
  display: block;
  position: relative;
  width: 180px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
}
/* line 369, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul li p {
  margin: 0;
  padding: 0;
  width: 96%;
  padding: 0 2%;
  background: white;
  height: 36px;
  margin: 0 auto;
  text-indent: 7px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
/* line 383, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul li p:hover {
  background: #4d7a98;
  color: white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 394, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul li:last-child {
  border-bottom: none;
}
/* line 401, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul.activo {
  height: 252px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* line 414, ../compass/sass/style.scss */
aside {
  position: relative;
  width: 302px;
  min-height: 30px;
  overflow: hidden;
  float: left;
}

/* line 422, ../compass/sass/style.scss */
.contenidos {
  position: relative;
  width: 731px;
  float: left;
  margin-right: 17px;
  min-height: 30px;
}
