/* line 41, ../compass/sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  background: #f1f5f7;
  font-family: "Helvetica Neue";
  min-width: 1050px;
  font-size: 10px;
}

/* line 50, ../compass/sass/style.scss */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 56, ../compass/sass/style.scss */
.central {
  position: relative;
  width: 1050px;
  min-height: 20px;
  overflow: hidden;
  margin: 0 auto;
  float: none;
  clear: both;
  z-index: 200;
}

/* line 68, ../compass/sass/style.scss */
header.inicial {
  position: relative;
  width: 100%;
  min-height: 75px;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid #ececec;
}
/* line 77, ../compass/sass/style.scss */
header.inicial ul {
  position: relative;
  float: left;
  min-height: 24px;
  margin-top: 25px;
}
/* line 83, ../compass/sass/style.scss */
header.inicial ul li {
  display: block;
  position: relative;
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 13px;
  padding-right: 13px;
  line-height: 24px;
  border-right: 1px solid #ececec;
}
/* line 95, ../compass/sass/style.scss */
header.inicial ul li a {
  text-decoration: none;
  color: #4d7a98;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 101, ../compass/sass/style.scss */
header.inicial ul li a .fa {
  font-size: 18px;
  margin-right: 2px;
  line-height: 24px;
}
/* line 108, ../compass/sass/style.scss */
header.inicial ul li a:hover {
  color: #35393c;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 118, ../compass/sass/style.scss */
header.inicial .inputs {
  position: relative;
  float: right;
}
/* line 122, ../compass/sass/style.scss */
header.inicial .inputs input[type="submit"] {
  display: block;
  float: left;
  background: #ee0f6c;
  color: white;
  font-size: 24px;
  border: none;
  height: 36px;
  top: 0px;
  vertical-align: middle;
  padding: 0 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 1px 1px 0px #ad0a4e;
  border-bottom: 2px solid #b0074d;
  margin-top: 18px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 141, ../compass/sass/style.scss */
header.inicial .inputs input[type="submit"]:hover {
  background: #1ca8ed;
  border-bottom: 2px solid #0b79af;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 148, ../compass/sass/style.scss */
header.inicial .inputs input[type="text"] {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  border: 2px solid #e3ebef;
  color: #28384b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 34px;
  line-height: 34px;
  margin-top: 18px;
  text-indent: 8px;
  margin-right: 7px;
  font-size: 14px;
}
/* line 35, ../compass/sass/style.scss */
header.inicial .inputs input[type="text"]::-webkit-input-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}
/* line 36, ../compass/sass/style.scss */
header.inicial .inputs input[type="text"]:-moz-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}
/* line 37, ../compass/sass/style.scss */
header.inicial .inputs input[type="text"]::-moz-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}
/* line 38, ../compass/sass/style.scss */
header.inicial .inputs input[type="text"]:-ms-input-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}

/* line 174, ../compass/sass/style.scss */
.breadcrumb {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  color: #4d7a98;
  min-height: 46px;
  overflow: hidden;
  float: none;
  clear: both;
}
/* line 184, ../compass/sass/style.scss */
.breadcrumb li {
  display: inline-block;
  line-height: 46px;
  padding-right: 9px;
}
/* line 189, ../compass/sass/style.scss */
.breadcrumb li a {
  color: #4d7a98;
  text-decoration: none;
  font-size: 14px;
  text-shadow: 1px 1px 0 rgba(250, 250, 250, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 198, ../compass/sass/style.scss */
.breadcrumb li a:hover {
  color: #284a60;
  text-shadow: 1px 1px 0 #fafafa;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 206, ../compass/sass/style.scss */
.breadcrumb li:last-child {
  font-weight: 700;
}

/* line 212, ../compass/sass/style.scss */
.filters {
  min-height: 64px;
  overflow: visible;
  z-index: 400;
}
/* line 217, ../compass/sass/style.scss */
.filters h2 {
  height: 46px;
  float: left;
  background: #1ca8ed;
  color: white;
  line-height: 46px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 24px;
  font-weight: 700;
  padding: 0 20px;
  margin-top: 0;
}
/* line 230, ../compass/sass/style.scss */
.filters h2 span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 8px 0 8px;
  border-color: #1ca7ed transparent transparent transparent;
  margin-top: 46px;
  margin-left: 10px;
}
/* line 244, ../compass/sass/style.scss */
.filters .right_elements {
  position: relative;
  float: right;
  min-height: 64px;
  overflow: visible;
}
/* line 250, ../compass/sass/style.scss */
.filters .right_elements .social {
  position: relative;
  float: left;
  height: 36px;
  border: 1px solid #ececec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
/* line 258, ../compass/sass/style.scss */
.filters .right_elements .social li {
  display: block;
  position: relative;
  float: left;
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  border-right: 1px solid #ececec;
}
/* line 267, ../compass/sass/style.scss */
.filters .right_elements .social li a {
  display: block;
  position: relative;
  height: 36px;
  padding: 0 20px;
  background: white;
  line-height: 36px;
  border: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 278, ../compass/sass/style.scss */
.filters .right_elements .social li a span.fa-facebook {
  color: #4b65a3;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 283, ../compass/sass/style.scss */
.filters .right_elements .social li a span.fa-twitter {
  color: #31aae1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 288, ../compass/sass/style.scss */
.filters .right_elements .social li a span.fa-google-plus {
  color: #eb2c27;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 297, ../compass/sass/style.scss */
.filters .right_elements .social li a:hover {
  background: #4d7a98;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 303, ../compass/sass/style.scss */
.filters .right_elements .social li a:hover span {
  color: white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 315, ../compass/sass/style.scss */
.filters .right_elements .social li:last-child {
  border: none;
}
/* line 320, ../compass/sass/style.scss */
.filters .right_elements .wrapper {
  position: relative;
  float: left;
  height: 36px;
  width: 210px;
  margin-right: 10px;
  border: 1px solid #ececec;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 330, ../compass/sass/style.scss */
.filters .right_elements .wrapper .fa {
  display: block;
  position: relative;
  float: left;
  width: 30px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
/* line 344, ../compass/sass/style.scss */
.filters .right_elements .wrapper .fa:hover {
  color: #1ca8ed;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 350, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul {
  position: relative;
  float: left;
  height: 36px;
  width: 180px;
  margin-right: 0px;
  overflow: hidden;
  border-bottom: 1px solid #ececec;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 361, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul li {
  display: block;
  position: relative;
  width: 180px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
}
/* line 370, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul li p {
  margin: 0;
  padding: 0;
  width: 96%;
  padding: 0 2%;
  background: white;
  height: 36px;
  margin: 0 auto;
  text-indent: 7px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
/* line 384, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul li p:hover {
  background: #4d7a98;
  color: white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 395, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul li:last-child {
  border-bottom: none;
}
/* line 402, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul.activo {
  height: 252px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* line 415, ../compass/sass/style.scss */
.sidebar {
  padding-top: 25px;
  position: relative;
  width: 302px;
  min-height: 30px;
  overflow: hidden;
  float: left;
}
/* line 423, ../compass/sass/style.scss */
.sidebar article {
  position: relative;
  width: 300px;
  min-height: 40px;
  border: 1px solid #ececec;
  background: white;
  margin-bottom: 17px;
}
/* line 431, ../compass/sass/style.scss */
.sidebar article header {
  position: relative;
  width: 100%;
  background: #f8fbfc;
  border-bottom: 1px solid #ececec;
  min-height: 44px;
  margin: 0;
  padding: 0;
}
/* line 440, ../compass/sass/style.scss */
.sidebar article header h3 {
  text-indent: 20px;
  line-height: 44px;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
/* line 451, ../compass/sass/style.scss */
.sidebar article ul.links {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 24px 0;
}
/* line 457, ../compass/sass/style.scss */
.sidebar article ul.links li {
  display: block;
  position: relative;
  min-height: 24px;
  line-height: 24px;
  margin-bottom: 3px;
}
/* line 464, ../compass/sass/style.scss */
.sidebar article ul.links li a {
  display: block;
  position: relative;
  width: 100%;
  min-height: 24px;
  line-height: 24px;
  font-size: 14px;
  text-decoration: none;
  color: #35393c;
  font-weight: 700;
  padding: 3px 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 478, ../compass/sass/style.scss */
.sidebar article ul.links li a span {
  display: block;
  float: left;
  color: #1ca8ed;
  font-size: 20px;
  line-height: 24px;
  padding: 0px 12px 0px 20px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 491, ../compass/sass/style.scss */
.sidebar article ul.links li a:hover {
  color: #4d7a98;
  background: #f8fbfc;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 497, ../compass/sass/style.scss */
.sidebar article ul.links li a:hover span {
  color: #4d7a98;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 511, ../compass/sass/style.scss */
.sidebar .present {
  text-align: center;
  padding-bottom: 15px;
}
/* line 515, ../compass/sass/style.scss */
.sidebar .present .logocent {
  display: block;
  position: relative;
  width: 100%;
  font-size: 65px;
  line-height: 65px;
  color: #1ca8ed;
  padding-top: 15px;
}
/* line 525, ../compass/sass/style.scss */
.sidebar .present h4 {
  font-size: 14px;
  font-weight: 700;
}
/* line 530, ../compass/sass/style.scss */
.sidebar .present .thin {
  font-weight: 200;
  width: 92%;
  margin: 0 auto;
  font-size: 12px;
  color: #4d7a98;
  margin-bottom: 7px;
}

/* line 543, ../compass/sass/style.scss */
.contenidos {
  margin-top: 25px;
  position: relative;
  width: 731px;
  float: left;
  margin-right: 15px;
  min-height: 130px;
  border: 1px solid #dfecf2;
  background: white;
}
/* line 553, ../compass/sass/style.scss */
.contenidos header {
  position: relative;
  height: 55px;
  width: 100%;
}
/* line 558, ../compass/sass/style.scss */
.contenidos header ul.tabs {
  position: relative;
  width: 100%;
  height: 55px;
}
/* line 563, ../compass/sass/style.scss */
.contenidos header ul.tabs li {
  display: block;
  position: relative;
  float: left;
  width: 124px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-right: 1px solid #cce1eb;
  background: #dfecf2;
  color: #4d7a98;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 579, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper {
  position: relative;
  float: none;
  height: 36px;
  width: 210px;
  margin: 10px auto;
  border: 1px solid #ececec;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 590, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper .fa {
  display: block;
  position: relative;
  float: left;
  width: 30px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
/* line 604, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper .fa:hover {
  color: #1ca8ed;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 610, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper ul {
  position: relative;
  float: left;
  height: 36px;
  width: 180px;
  margin-right: 0px;
  overflow: hidden;
  border-bottom: 1px solid #ececec;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 621, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper ul li {
  display: block;
  position: relative;
  width: 180px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
}
/* line 630, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper ul li p {
  margin: 0;
  padding: 0;
  width: 96%;
  padding: 0 2%;
  background: white;
  text-align: left;
  height: 36px;
  margin: 0 auto;
  text-indent: 7px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
/* line 645, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper ul li p:hover {
  background: #4d7a98;
  color: white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 656, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper ul li:last-child {
  border-bottom: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 665, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper ul.activo {
  height: 252px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 675, ../compass/sass/style.scss */
.contenidos header ul.tabs li:last-child {
  width: 231px;
  border: none;
}
/* line 680, ../compass/sass/style.scss */
.contenidos header ul.tabs li:hover {
  background: #e9f0f3;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 686, ../compass/sass/style.scss */
.contenidos header ul.tabs li.activo {
  background: white;
  color: #ee0f6c;
  border-right: 1px solid white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 694, ../compass/sass/style.scss */
.contenidos header ul.tabs li:last-child.activo {
  border: none;
}
