/* line 41, ../compass/sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  background: #f1f5f7;
  font-family: "Helvetica Neue";
  min-width: 1050px;
  font-size: 10px;
}

/* line 50, ../compass/sass/style.scss */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 56, ../compass/sass/style.scss */
.central {
  position: relative;
  width: 1050px;
  min-height: 20px;
  overflow: hidden;
  margin: 0 auto;
  float: none;
  clear: both;
  z-index: 200;
}

/* line 67, ../compass/sass/style.scss */
#audiac {
  display: none;
}

/* line 72, ../compass/sass/style.scss */
header.inicial {
  position: relative;
  width: 100%;
  min-height: 75px;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid #ececec;
}
/* line 81, ../compass/sass/style.scss */
header.inicial ul {
  position: relative;
  float: left;
  min-height: 24px;
  margin-top: 25px;
}
/* line 87, ../compass/sass/style.scss */
header.inicial ul li {
  display: block;
  position: relative;
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 13px;
  padding-right: 13px;
  line-height: 24px;
  border-right: 1px solid #ececec;
}
/* line 99, ../compass/sass/style.scss */
header.inicial ul li a {
  text-decoration: none;
  color: #4d7a98;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 105, ../compass/sass/style.scss */
header.inicial ul li a .fa {
  font-size: 18px;
  margin-right: 2px;
  line-height: 24px;
}
/* line 112, ../compass/sass/style.scss */
header.inicial ul li a:hover {
  color: #35393c;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 122, ../compass/sass/style.scss */
header.inicial .inputs {
  position: relative;
  float: right;
}
/* line 126, ../compass/sass/style.scss */
header.inicial .inputs input[type="submit"] {
  display: block;
  float: left;
  background: #ee0f6c;
  color: white;
  font-size: 24px;
  border: none;
  height: 36px;
  top: 0px;
  vertical-align: middle;
  padding: 0 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 1px 1px 0px #ad0a4e;
  border-bottom: 2px solid #b0074d;
  margin-top: 18px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 145, ../compass/sass/style.scss */
header.inicial .inputs input[type="submit"]:hover {
  background: #1ca8ed;
  border-bottom: 2px solid #0b79af;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 152, ../compass/sass/style.scss */
header.inicial .inputs input[type="text"] {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  border: 2px solid #e3ebef;
  color: #28384b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 34px;
  line-height: 34px;
  margin-top: 18px;
  text-indent: 8px;
  margin-right: 7px;
  font-size: 14px;
}
/* line 35, ../compass/sass/style.scss */
header.inicial .inputs input[type="text"]::-webkit-input-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}
/* line 36, ../compass/sass/style.scss */
header.inicial .inputs input[type="text"]:-moz-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}
/* line 37, ../compass/sass/style.scss */
header.inicial .inputs input[type="text"]::-moz-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}
/* line 38, ../compass/sass/style.scss */
header.inicial .inputs input[type="text"]:-ms-input-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}

/* line 178, ../compass/sass/style.scss */
.breadcrumb {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  color: #4d7a98;
  min-height: 46px;
  overflow: hidden;
  float: none;
  clear: both;
}
/* line 188, ../compass/sass/style.scss */
.breadcrumb li {
  display: inline-block;
  line-height: 46px;
  padding-right: 9px;
}
/* line 193, ../compass/sass/style.scss */
.breadcrumb li a {
  color: #4d7a98;
  text-decoration: none;
  font-size: 14px;
  text-shadow: 1px 1px 0 rgba(250, 250, 250, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 202, ../compass/sass/style.scss */
.breadcrumb li a:hover {
  color: #284a60;
  text-shadow: 1px 1px 0 #fafafa;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 210, ../compass/sass/style.scss */
.breadcrumb li:last-child {
  font-weight: 700;
}

/* line 216, ../compass/sass/style.scss */
.filters {
  min-height: 64px;
  overflow: visible;
  z-index: 400;
}
/* line 221, ../compass/sass/style.scss */
.filters h2 {
  height: 46px;
  float: left;
  background: #1ca8ed;
  color: white;
  line-height: 46px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 24px;
  font-weight: 700;
  padding: 0 20px;
  margin-top: 0;
}
/* line 234, ../compass/sass/style.scss */
.filters h2 span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 8px 0 8px;
  border-color: #1ca7ed transparent transparent transparent;
  margin-top: 46px;
  margin-left: 10px;
}
/* line 248, ../compass/sass/style.scss */
.filters .right_elements {
  position: relative;
  float: right;
  min-height: 64px;
  overflow: visible;
}
/* line 254, ../compass/sass/style.scss */
.filters .right_elements .social {
  position: relative;
  float: left;
  height: 36px;
  border: 1px solid #ececec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
/* line 262, ../compass/sass/style.scss */
.filters .right_elements .social li {
  display: block;
  position: relative;
  float: left;
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  border-right: 1px solid #ececec;
}
/* line 271, ../compass/sass/style.scss */
.filters .right_elements .social li a {
  display: block;
  position: relative;
  height: 36px;
  padding: 0 20px;
  background: white;
  line-height: 36px;
  border: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 282, ../compass/sass/style.scss */
.filters .right_elements .social li a span.fa-facebook {
  color: #4b65a3;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 287, ../compass/sass/style.scss */
.filters .right_elements .social li a span.fa-twitter {
  color: #31aae1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 292, ../compass/sass/style.scss */
.filters .right_elements .social li a span.fa-google-plus {
  color: #eb2c27;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 301, ../compass/sass/style.scss */
.filters .right_elements .social li a:hover {
  background: #4d7a98;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 307, ../compass/sass/style.scss */
.filters .right_elements .social li a:hover span {
  color: white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 319, ../compass/sass/style.scss */
.filters .right_elements .social li:last-child {
  border: none;
}
/* line 324, ../compass/sass/style.scss */
.filters .right_elements .wrapper {
  position: relative;
  float: left;
  height: 36px;
  width: 210px;
  margin-right: 10px;
  border: 1px solid #ececec;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 334, ../compass/sass/style.scss */
.filters .right_elements .wrapper .fa {
  display: block;
  position: relative;
  float: left;
  width: 30px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
/* line 348, ../compass/sass/style.scss */
.filters .right_elements .wrapper .fa:hover {
  color: #1ca8ed;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 354, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul {
  position: relative;
  float: left;
  height: 36px;
  width: 180px;
  margin-right: 0px;
  overflow: hidden;
  border-bottom: 1px solid #ececec;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 365, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul li {
  display: block;
  position: relative;
  width: 180px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
}
/* line 374, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul li p {
  margin: 0;
  padding: 0;
  width: 96%;
  padding: 0 2%;
  background: white;
  height: 36px;
  margin: 0 auto;
  text-indent: 7px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
/* line 388, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul li p:hover {
  background: #4d7a98;
  color: white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 399, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul li:last-child {
  border-bottom: none;
}
/* line 406, ../compass/sass/style.scss */
.filters .right_elements .wrapper ul.activo {
  height: 252px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* line 419, ../compass/sass/style.scss */
.sidebar {
  padding-top: 25px;
  position: relative;
  width: 302px;
  min-height: 30px;
  overflow: hidden;
  float: left;
}
/* line 427, ../compass/sass/style.scss */
.sidebar article {
  position: relative;
  width: 300px;
  min-height: 40px;
  border: 1px solid #ececec;
  background: white;
  margin-bottom: 17px;
}
/* line 435, ../compass/sass/style.scss */
.sidebar article header {
  position: relative;
  width: 100%;
  background: #f8fbfc;
  border-bottom: 1px solid #ececec;
  min-height: 44px;
  margin: 0;
  padding: 0;
}
/* line 444, ../compass/sass/style.scss */
.sidebar article header h3 {
  text-indent: 20px;
  line-height: 44px;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
/* line 455, ../compass/sass/style.scss */
.sidebar article ul.links {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 24px 0;
}
/* line 461, ../compass/sass/style.scss */
.sidebar article ul.links li {
  display: block;
  position: relative;
  min-height: 24px;
  line-height: 24px;
  margin-bottom: 3px;
}
/* line 468, ../compass/sass/style.scss */
.sidebar article ul.links li a {
  display: block;
  position: relative;
  width: 100%;
  min-height: 24px;
  line-height: 24px;
  font-size: 14px;
  text-decoration: none;
  color: #35393c;
  font-weight: 700;
  padding: 3px 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 482, ../compass/sass/style.scss */
.sidebar article ul.links li a span {
  display: block;
  float: left;
  color: #1ca8ed;
  font-size: 20px;
  line-height: 24px;
  padding: 0px 12px 0px 20px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 495, ../compass/sass/style.scss */
.sidebar article ul.links li a:hover {
  color: #4d7a98;
  background: #f8fbfc;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 501, ../compass/sass/style.scss */
.sidebar article ul.links li a:hover span {
  color: #4d7a98;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 515, ../compass/sass/style.scss */
.sidebar .fold {
  font-size: 14px;
  overflow: hidden;
}
/* line 519, ../compass/sass/style.scss */
.sidebar .fold .folda {
  display: block;
  position: relative;
  float: left;
  width: 60px;
  height: 80px;
  line-height: 80px;
  margin: 15px;
  font-size: 60px;
  color: #1ca8ed;
}
/* line 531, ../compass/sass/style.scss */
.sidebar .fold h4 {
  margin: 0;
  padding: 15px 0 7px;
  color: #1ca8ed;
}
/* line 537, ../compass/sass/style.scss */
.sidebar .fold p {
  margin: 0;
  color: #4d7a98;
}
/* line 542, ../compass/sass/style.scss */
.sidebar .fold .to_list {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  border-radius: 3px;
  border: 1px solid #c0d4dd;
  background: #e3ebef;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  width: 90px;
  top: 0;
  cursor: pointer;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: #28384b;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
}
/* line 564, ../compass/sass/style.scss */
.sidebar .fold .to_list:hover {
  background: #c9d6dc;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 571, ../compass/sass/style.scss */
.sidebar .publicidad {
  position: relative;
  width: 100%;
  height: 250px;
  line-height: 250px;
  text-align: center;
  color: white;
  background: #1ca8ed;
  font-size: 22px;
  text-transform: uppercase;
}
/* line 583, ../compass/sass/style.scss */
.sidebar .publicidad:before {
  content: "Publicidad";
}
/* line 588, ../compass/sass/style.scss */
.sidebar .present {
  text-align: center;
  padding-bottom: 15px;
}
/* line 592, ../compass/sass/style.scss */
.sidebar .present .logocent {
  display: block;
  position: relative;
  width: 100%;
  font-size: 65px;
  line-height: 65px;
  color: #1ca8ed;
  padding-top: 15px;
}
/* line 602, ../compass/sass/style.scss */
.sidebar .present h4 {
  font-size: 14px;
  font-weight: 700;
}
/* line 607, ../compass/sass/style.scss */
.sidebar .present .thin {
  font-weight: 200;
  width: 92%;
  margin: 0 auto;
  font-size: 12px;
  color: #4d7a98;
  margin-bottom: 7px;
}

/* line 620, ../compass/sass/style.scss */
.left_stuff {
  margin-top: 25px;
  position: relative;
  width: 733px;
  float: left;
  margin-right: 15px;
  min-height: 130px;
  padding-bottom: 10px;
  overflow: hidden;
}

/* line 631, ../compass/sass/style.scss */
.footer {
  position: relative;
  width: 100%;
  min-height: 30px;
  overflow: hidden;
  padding: 20px 0;
  font-size: 14px;
  color: #4d7a98;
  line-height: 18px;
}
/* line 641, ../compass/sass/style.scss */
.footer h3 {
  position: relative;
  width: 100%;
  float: none;
  clear: both;
  color: #28384b;
}
/* line 649, ../compass/sass/style.scss */
.footer p.to_do {
  position: relative;
  float: left;
  width: 550px;
  color: #1ca8ed;
  margin-top: 0;
}
/* line 657, ../compass/sass/style.scss */
.footer .to_act {
  display: block;
  float: right;
  background: #ee0f6c;
  color: white;
  font-size: 16px;
  border: none;
  height: 36px;
  top: 0px;
  line-height: 36px;
  text-decoration: none;
  padding: 0 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 1px 1px 0px #ad0a4e;
  border-bottom: 2px solid #b0074d;
  margin-top: 0px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 677, ../compass/sass/style.scss */
.footer .to_act:hover {
  background: #1ca8ed;
  border-bottom: 2px solid #0b79af;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* line 686, ../compass/sass/style.scss */
.contenidos {
  position: relative;
  width: 731px;
  min-height: 130px;
  border: 1px solid #dfecf2;
  background: white;
}
/* line 693, ../compass/sass/style.scss */
.contenidos header {
  position: relative;
  height: 55px;
  width: 100%;
  z-index: 600;
}
/* line 699, ../compass/sass/style.scss */
.contenidos header ul.tabs {
  position: relative;
  width: 100%;
  height: 55px;
}
/* line 704, ../compass/sass/style.scss */
.contenidos header ul.tabs li {
  display: block;
  position: relative;
  float: left;
  width: 124px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-right: 1px solid #cce1eb;
  background: #dfecf2;
  color: #4d7a98;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 720, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper {
  position: relative;
  float: none;
  height: 36px;
  width: 210px;
  margin: 10px auto;
  border: 1px solid #ececec;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 731, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper .fa {
  display: block;
  position: relative;
  float: left;
  width: 30px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
/* line 745, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper .fa:hover {
  color: #1ca8ed;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 751, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper ul {
  position: relative;
  float: left;
  height: 36px;
  width: 180px;
  margin-right: 0px;
  overflow: hidden;
  border-bottom: 1px solid #ececec;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 762, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper ul li {
  display: block;
  position: relative;
  width: 180px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
}
/* line 771, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper ul li p {
  margin: 0;
  padding: 0;
  width: 96%;
  padding: 0 2%;
  background: white;
  text-align: left;
  height: 36px;
  margin: 0 auto;
  text-indent: 7px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
/* line 786, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper ul li p:hover {
  background: #4d7a98;
  color: white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 797, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper ul li:last-child {
  border-bottom: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 806, ../compass/sass/style.scss */
.contenidos header ul.tabs li .wrapper ul.activo {
  height: 252px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 816, ../compass/sass/style.scss */
.contenidos header ul.tabs li:last-child {
  width: 231px;
  border: none;
}
/* line 821, ../compass/sass/style.scss */
.contenidos header ul.tabs li:hover {
  background: #e9f0f3;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 827, ../compass/sass/style.scss */
.contenidos header ul.tabs li.activo {
  background: white;
  color: #ee0f6c;
  border-right: 1px solid white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 835, ../compass/sass/style.scss */
.contenidos header ul.tabs li:last-child.activo {
  border: none;
}
/* line 844, ../compass/sass/style.scss */
.contenidos .true_central {
  position: relative;
  width: 690px;
  overflow: hidden;
  min-height: 200px;
  margin: 20px auto;
}
/* line 852, ../compass/sass/style.scss */
.contenidos .true_central .publicidad_up {
  position: relative;
  width: 100%;
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: white;
  background: #1ca8ed;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 865, ../compass/sass/style.scss */
.contenidos .true_central .publicidad_up:before {
  content: "Publicidad";
}
/* line 870, ../compass/sass/style.scss */
.contenidos .true_central .filtrar {
  position: relative;
  width: 100%;
  min-height: 38px;
  overflow: hidden;
  left: 0;
  top: 0;
  clear: both;
  float: none;
  margin: 15px 0;
}
/* line 881, ../compass/sass/style.scss */
.contenidos .true_central .filtrar p.checkar {
  position: relative;
  float: left;
  margin: 0;
  margin-right: 8px;
  border-radius: 3px;
  border: 1px solid #c0d4dd;
  background: #e3ebef;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  text-indent: 14px;
  width: 100px;
  top: 0;
  cursor: pointer;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 899, ../compass/sass/style.scss */
.contenidos .true_central .filtrar p.checkar span {
  display: inline-block;
  border: 2px solid #c0d4dd;
  background: white;
  width: 16px;
  height: 16px;
  margin: 8px 12px;
  line-height: 16px;
  text-align: center;
  text-indent: 0;
  padding: 0;
  color: white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 915, ../compass/sass/style.scss */
.contenidos .true_central .filtrar p.checkar span:before {
  content: "\f00c";
}
/* line 921, ../compass/sass/style.scss */
.contenidos .true_central .filtrar p.checkar:hover {
  background: #c9d6dc;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 928, ../compass/sass/style.scss */
.contenidos .true_central .filtrar p.checkar.activo span {
  color: #1ca8ed;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 936, ../compass/sass/style.scss */
.contenidos .true_central .filtrar input[type="text"] {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  border: 2px solid #e3ebef;
  color: #28384b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 34px;
  line-height: 34px;
  text-indent: 8px;
  margin-right: 7px;
  font-size: 14px;
}
/* line 35, ../compass/sass/style.scss */
.contenidos .true_central .filtrar input[type="text"]::-webkit-input-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}
/* line 36, ../compass/sass/style.scss */
.contenidos .true_central .filtrar input[type="text"]:-moz-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}
/* line 37, ../compass/sass/style.scss */
.contenidos .true_central .filtrar input[type="text"]::-moz-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}
/* line 38, ../compass/sass/style.scss */
.contenidos .true_central .filtrar input[type="text"]:-ms-input-placeholder {
  color: #b8c9d2;
  font-size: 14px;
}
/* line 959, ../compass/sass/style.scss */
.contenidos .true_central .map_ {
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
  margin-bottom: 15px;
}
/* line 967, ../compass/sass/style.scss */
.contenidos .true_central .tabular_data {
  position: relative;
  width: 100%;
  min-height: 150px;
  overflow: hidden;
  margin: 20px 0;
  border-bottom: 1px solid #ececec;
}
/* line 975, ../compass/sass/style.scss */
.contenidos .true_central .tabular_data li {
  display: block;
  position: relative;
  border-top: 1px solid #ececec;
  min-height: 90px;
  overflow: hidden;
}
/* line 982, ../compass/sass/style.scss */
.contenidos .true_central .tabular_data li p.firstdata {
  position: relative;
  float: left;
  width: 40px;
  font-size: 12px;
  margin: 26px 8px 22px 0;
}
/* line 989, ../compass/sass/style.scss */
.contenidos .true_central .tabular_data li p.firstdata strong {
  display: block;
  position: relative;
  width: 36px;
  min-height: 36px;
  text-align: center;
  line-height: 36px;
  margin: 0 auto 5px;
  background: #ee0f6c;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
}
/* line 1005, ../compass/sass/style.scss */
.contenidos .true_central .tabular_data li div.conten_data {
  position: relative;
  float: left;
  width: 422px;
  padding-left: 20px;
  height: 48px;
  margin-top: 21px;
}
/* line 1013, ../compass/sass/style.scss */
.contenidos .true_central .tabular_data li div.conten_data p {
  position: relative;
  width: 100%;
  text-indent: 15px;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #4d7a98;
}
/* line 1024, ../compass/sass/style.scss */
.contenidos .true_central .tabular_data li div.conten_data p .normal_ {
  color: #1ca8ed;
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
}
/* line 1031, ../compass/sass/style.scss */
.contenidos .true_central .tabular_data li div.conten_data p .direction {
  color: #28384b;
  font-size: 14px;
}
/* line 1036, ../compass/sass/style.scss */
.contenidos .true_central .tabular_data li div.conten_data p .open {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  margin-right: 10px;
  background: #4eca85;
  color: white;
  text-indent: 0;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 1051, ../compass/sass/style.scss */
.contenidos .true_central .tabular_data li div.conten_data p .closed {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  margin-right: 10px;
  background: #bfced6;
  color: white;
  text-indent: 0;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 1066, ../compass/sass/style.scss */
.contenidos .true_central .tabular_data li div.conten_data p .open:hover, .contenidos .true_central .tabular_data li div.conten_data p .closed:hover {
  color: white;
  background: #4d7a98;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 1076, ../compass/sass/style.scss */
.contenidos .true_central .tabular_data li p.simple {
  position: relative;
  float: left;
  line-height: 70px;
  width: 80px;
  margin-left: 10px;
  text-align: center;
  font-size: 12px;
}
/* line 1086, ../compass/sass/style.scss */
.contenidos .true_central .tabular_data li .buto {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  margin-right: 8px;
  border-radius: 3px;
  border: 1px solid #c0d4dd;
  background: #e3ebef;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  width: 90px;
  top: 0;
  cursor: pointer;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: #28384b;
  text-align: center;
  text-decoration: none;
  margin-top: 24px;
  margin-left: 10px;
}
/* line 1110, ../compass/sass/style.scss */
.contenidos .true_central .tabular_data li .buto:hover {
  background: #c9d6dc;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 1120, ../compass/sass/style.scss */
.contenidos .true_central .paginacion {
  position: relative;
  width: 100%;
  line-height: 24px;
  line-height: 24px;
  padding: 20px 0;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
}
/* line 1130, ../compass/sass/style.scss */
.contenidos .true_central .paginacion li {
  display: inline-block;
  position: relative;
  margin: 0px 4px;
}
/* line 1135, ../compass/sass/style.scss */
.contenidos .true_central .paginacion li a {
  text-decoration: none;
  display: block;
  color: #4d7a98;
  height: 24px;
  line-height: 24px;
  padding: 0 5px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 1146, ../compass/sass/style.scss */
.contenidos .true_central .paginacion li a.activo {
  color: white;
  background: #1ca8ed;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 1153, ../compass/sass/style.scss */
.contenidos .true_central .paginacion li a:hover {
  color: white;
  background: #4d7a98;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 1164, ../compass/sass/style.scss */
.contenidos .true_central .paginacion li:first-child a {
  color: #28384b;
  margin-right: 15px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 1171, ../compass/sass/style.scss */
.contenidos .true_central .paginacion li:first-child a:hover {
  color: #1ca8ed;
  background: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 1180, ../compass/sass/style.scss */
.contenidos .true_central .paginacion li:last-child a {
  color: #28384b;
  margin-left: 15px;
}
/* line 1185, ../compass/sass/style.scss */
.contenidos .true_central .paginacion li:last-child a:hover {
  color: #1ca8ed;
  background: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

@media (max-width: 1050px) {
  /* line 1203, ../compass/sass/style.scss */
  html, body {
    width: 100%;
    min-width: 1000px;
  }

  /* line 1208, ../compass/sass/style.scss */
  .central {
    width: 1000px;
  }

  /* line 1212, ../compass/sass/style.scss */
  .sidebar {
    width: 252px;
  }
  /* line 1215, ../compass/sass/style.scss */
  .sidebar article {
    width: 250px;
  }
}
